#context-wrapper.mobile {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

#context-wrapper.mobile #context-menu {
  width: 80%;
  align-self: center;
}

#context-menu {
  position: fixed;
  width: 300px;
  padding: 0.5rem;
  border: 1px solid var(--color-border-outer);
  background-color: var(--color-bg-main);
  z-index: 20;
  pointer-events: auto;
  color: var(--color-text-color);
}

#context-menu .devider {
  height: 1px;
  margin: 0.5rem 0;
  overflow: hidden;
  background-color: var(--color-border-inner);
}

html.theme-dark #context-menu .devider {
  background-color: var(--color-border-outer);
}

#context-menu .item {
  display: block;
  width: 100%;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  color: var(--color-text-color);
  white-space: nowrap;
  border: 0;
}

#context-menu .item:hover,
#context-menu .item:focus {
  color: var(--color-text-color);
  background-color: var(--color-bg-focus);
  text-decoration: none;
}

#context-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
