.button,
.button:hover,
.button:focus {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ddd;
    width: 100%;
    padding: .2rem .3rem;
    background-color: #f3f3f3;
    color: #000;
    text-decoration: none !important;
}

@media (prefers-color-scheme:dark) {
    .button,
    .button:hover,
    .button:focus {
        border-bottom: 1px solid #43494c;
        background-color: #222426;
        color: #e2e2e2;
    }
}