#imageList {
    margin: 1rem 0;
}

#imageList img {
    width: 50px;
}

#imageList .video-placeholder {
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
}

#imageList tbody a {
    word-break: break-all;
    color: #000;
}

#imageList tfoot td {
    padding: 0;
}

#imageList button {
    width: 100%;
    margin: 0;
}

@media (prefers-color-scheme:dark) {
    #imageList tbody a {
        color: #e2e2e2;
    }
}