.article-image {
    margin: 1rem 0;
    border: 1px solid #bbb;
    width: 100%;
    padding: 0.5rem;
}

.article-image .image-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, auto));
    gap: 0.5rem;
    justify-items: center;
    margin-bottom: 0.5rem;
}

.article-image .item {
    width: 100px;
    height: 100px;
    border: 1px solid #bbb;
    margin: 0;
    background-size: cover;
}

.article-image button {
    width: 100%;
    margin-top: 0.5rem;
}

@media (prefers-color-scheme:dark) {
    #imageList tbody a {
        color: #e2e2e2;
    }
}