.fix-header .root-container {
  padding-top: 42px;
}

.fix-header .navbar-wrapper {
  top: 0px;
  position: fixed !important;
  width: 100%;
  z-index: 20;
}

.content-wrapper.hide-recent-visit .visited-channel-wrap {
  display: none;
}

.content-wrapper.hide-avatar .avatar {
  display: none !important;
}

.content-wrapper.hide-avatar .input-wrapper > .input {
  width: calc(100% - 4.5rem - 0.5rem) !important;
}

.content-wrapper.hide-modified b.modified {
  display: none !important;
}

.content-wrapper.hide-sidemenu .right-sidebar {
  display: none;
}

@media screen and (min-width: 991px) {
  .content-wrapper.hide-sidemenu .board-article {
    padding: 1rem;
    margin: 0;
  }
}

.content-wrapper.force-open-comment #comment .message {
  max-height: none !important;
}

.content-wrapper.force-open-comment #comment .btn-more {
  display: none !important;
}
