.wrapper {
    margin: 0 auto;
    max-width: 1300px;
    border: 1px solid #bbb;
    background-color: #fff;
    padding: 1rem;
}

.wrapper select,
.wrapper textarea,
.wrapper input[type="text"] {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    color: #55595c;
    background-color: #fff;
    border: 1px solid #bbb;
}

.wrapper input[disabled] {
    background-color: #eee;
}

.wrapper select {
    overflow: scroll;
}

.wrapper label {
    display: inline;
}