name: Release

on:
  push:
    branches:
      - master

jobs:
  release:
    name: Create Release
    runs-on: ubuntu-latest
    outputs:
      upload_url: ${{ steps.release.outputs.upload_url }}
    steps:
      - name: Get Version
        id: get-version
        run: echo "version=${{ github.event.head_commit.message }}" >> $GITHUB_OUTPUT

      - name: Create Release
        id: release
        uses: actions/create-release@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.get-version.outputs.version }}
          release_name: ${{ steps.get-version.outputs.version }}
          draft: false
          prerelease: false

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: release

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16.17

      - name: Install Package
        uses: bahmutov/npm-install@v1
        with:
          install-command: npm ci --legacy-peer-deps

      - name: Build
        run: npm run build

      - name: Upload Assets (user.js)
        uses: actions/upload-release-asset@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.release.outputs.upload_url }}
          asset_path: ./dist/ArcaRefresher.user.js
          asset_name: ArcaRefresher.user.js
          asset_content_type: application/vnd.github+json

      - name: Upload Assets (meta.js)
        uses: actions/upload-release-asset@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.release.outputs.upload_url }}
          asset_path: ./dist/ArcaRefresher.meta.js
          asset_name: ArcaRefresher.meta.js
          asset_content_type: application/vnd.github+json

      - name: Upload Assets (user.js.LICENSE.txt)
        uses: actions/upload-release-asset@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.release.outputs.upload_url }}
          asset_path: ./dist/ArcaRefresher.user.js.LICENSE.txt
          asset_name: ArcaRefresher.user.js.LICENSE.txt
          asset_content_type: application/vnd.github+json
